-- Migration: Feature Gate System
ALTER TABLE profiles 
DROP CONSTRAINT IF EXISTS profiles_plan_check;

ALTER TABLE profiles 
ADD COLUMN IF NOT EXISTS plan TEXT DEFAULT 'starter',
ADD COLUMN IF NOT EXISTS plan_expires_at TIMESTAMPTZ,
ADD COLUMN IF NOT EXISTS trial_ends_at TIMESTAMPTZ;

ALTER TABLE profiles 
ADD CONSTRAINT profiles_plan_check 
CHECK (plan IN ('starter', 'pro', 'business'));

-- Set trial for new users (e.g. 14 days from creation if not set)
UPDATE profiles SET trial_ends_at = created_at + interval '14 days' WHERE trial_ends_at IS NULL;
